{{template "base" .}}

{{define "stylesheet"}}delivery.css{{end}}

{{define "name"}}Доставка и оплата{{end}}

{{define "menu"}}
    <li><a href="/">Главная</a></li>
    <li><a href="/about_us">О компании</a></li>
    <li><a href="/goods_and_services">Товары и услуги</a></li>
    <li><a href="/delivery" class="active">Доставка и оплата</a></li>
    <li><a href="/delivery#contact">Контакты</a></li>
{{end}}

{{define "main"}}
    <div class="container white">
        <p class="content"><b>ООО «Средне-Уральская трубная компания»</b> обеспечивает и контролирует обслуживание на
        всех этапах сотрудничества: от поступления заказа до выгрузки. У нас доступные цены и индивидуальный
        подход к каждому покупателю.</p>

        <h5>Отгрузка приобретенной продукции возможно осуществить следующим образом:</h5>
        <ul class="ls">
            <li>Непосредственно с нашего складского комплекса, собственным транспортом</li>
            <li>Нашим автотранспортом, доставим в любое удобное время</li>
            <li>Либо воспользоваться услугами сторонних транспортных компаний</li>
        </ul>

        <h5>Отгрузка приобретенной продукции возможно осуществить следующим образом:</h5>
        <ul class="ls">
            <li>Предоставляем отсрочку платежа на 30, 60 или 90 дней</li>
            <li>Возможность частичной, полной оплаты и предоплаты</li>
            <li>Формируем заказы в любом объеме</li>
            <li>Принимаем все возможные способы оплаты</li>
            <li>Предоставляем скидки на крупные заказы</li>
        </ul>

        <h3>Карточка организации:</h3>
        <table>
            <tr>
              <td>Юридический адрес</td>
              <td>620102, г. Екатеринбург, ул. Ясная, дом 22Б, квартира 102</td>
            </tr>
            <tr>
              <td>Почтовый адрес</td>
              <td>620146, г. Екатеринбург, а/я 130</td>
            </tr>
            <tr>
              <td>ИНН</td>
              <td>6658245071</td>
            </tr>
            <tr>
              <td>КПП</td>
              <td>665801001</td>
            </tr>
            <tr>
              <td>ОКПО</td>
              <td>97917886</td>
            </tr>
            <tr>
              <td>ОГРН</td>
              <td>106 965 810 26 01</td>
            </tr>
            <tr>
              <td>Телефон</td>
              <td>(343) 213-93-99, 222-07-10</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>sutk-s@mail.ru</td>
            </tr>
            <tr>
              <td>Директор</td>
              <td>Матросов Станислав Юрьевич</td>
            </tr>
        </table>

        <table>
            <tr>
              <td>Банк</td>
              <td>ПАО «Уральский банк реконструкции и развития» г. Екатеринбург</td>
            </tr>
            <tr>
              <td>Расчетный счет</td>
              <td>40702810062160007669</td>
            </tr>
            <tr>
              <td>БИК</td>
              <td>046577795</td>
            </tr>
            <tr>
              <td>Кор. счет</td>
              <td>30 101 810 900 000 000 795</td>
            </tr>
        </table>

        <p>Скачать карточку | <a download href="/static/src/sutk_card.pdf">pdf</a> | <a download href="/static/src/sutk_card.doc">doc</a></p>
    </div>
{{end}}