{{define "button"}}
    <div class="white">
        <div class="callback-bt">
            <button style="background:transparent; border: none;" data-toggle="modal" data-target="#phoneModalForm">
                <div class="text-call">
                    <span>Заказать<br/>звонок</span>
                </div>
            </button>
        </div>
        <div class="email-bt">
            <button style="background:transparent; border: none;" data-toggle="modal" data-target="#emailModalForm">
                <div class="text-call">
                    <span>Обратная<br/>связь</span>
                </div>
            </button>
        </div>
    </div>
{{end}}